html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}


body {
	-webkit-text-size-adjust: none;
	background-color: #000;
	background-image: url(featured/smokebg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}
#featuredproductslist span {
	font-size: 14px;
	color: #FFF;
	background-color: #000;
	text-align: center;
	display: block;
	width: 100%;
	padding-top: 3px;
	padding-bottom: 3px;
}
.gobutton {
	width: 60%;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #FFF;
	text-align: center;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 18px;
	text-decoration: none;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-radius: 3px;
	margin-top: 10px;
	background-color: #3C0002;
	z-index: 1000;
}


a {
	text-decoration: none;
}
.headline {
	font-size: 26px;
	color: #757575;
	padding-bottom: 45px;
	padding-top: 45px;
}
.subtext {
	color: #DE4809;
	font-size: 18px;
}

.swipe {
	padding: 0px;
	clear: both;
	margin: 0px;
}
#slider .swipecomment {
	color: #EFEFEF;
}
#slider .swipecommentbox {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.swipe img {
}
.swipegallery {
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;
	border-top-style: none !important;
	border-right-style: none !important;
	border-bottom-style: none !important;
	border-left-style: none !important;
}
.galleryarrow {
	display: inline;
	cursor: pointer;
}
#galleryarrows {
	width: 90px;
	float: right;
}
.galleryarrow img {
	width: 35px;
}
#gallerynav {
	width: 100%;
}
.swipegallery ul {
	list-style-type: none;
}
#position {
	color: #697279;
	display: block;
	text-align: center;
	width: 100%;
	cursor: default;
	font-size: 35px;
}
#position em {
	display: inline-block;
	padding: 0 3px;
	font-style: normal;
	text-shadow: 0 -1px 0 rgba(0,0,0,.35);
	font-family: sans-serif;
	color: #999;
	font-size: 14px;
}
#position em.on {
	color: #FFFFFF;
} 
